<mat-toolbar class="ps-0 pe-0">
  <div class="d-flex align-items-center w-100">
    <!-- Left -->
    <div class="d-flex align-items-center">
      <span class="ms-2">© 2026 Borisz Grozdic</span>
    </div>

    <!-- Right -->
    <div class="ms-auto d-flex align-items-center">
      <span class="example-spacer"></span>

      <span>Tech stack</span>

      <a href="https://angular.dev" target="_blank">
        <button mat-icon-button matTooltip="Angular">
          <mat-icon svgIcon="angular"></mat-icon>
        </button>
      </a>

      <a href="https://material.angular.io" target="_blank">
        <button mat-icon-button matTooltip="Angular Material">
          <mat-icon svgIcon="angular-material"></mat-icon>
        </button>
      </a>

      <a href="https://getbootstrap.com" target="_blank">
        <button mat-icon-button matTooltip="Bootstrap">
          <mat-icon svgIcon="bootstrap"></mat-icon>
        </button>
      </a>

      <a href="https://nestjs.com" target="_blank">
        <button mat-icon-button matTooltip="NestJS">
          <mat-icon svgIcon="nestjs"></mat-icon>
        </button>
      </a>
    </div>
  </div>
</mat-toolbar>
